# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Conventional Changelog'
      'submenu': [
        {
          'label': 'Generate Changelog'
          'command': 'conventional-changelog:changelog'
        }
        {
          'label': 'Make GitHub release(s)'
          'command': 'conventional-changelog:githubRelease'
        }
      ]
    ]
  }
]
